<h2>Ambition Pharma BMR</h2> <br>
<h3>General Details</h3>

<p>Issued Date: 29/03/2023</p>
<!-- <p>Lot Number: </p> -->
<label>Lot Number:</label>
<input type="text"> <br>
<label>Lot Size:</label> 
<input type="text"><br>
<label for="emp_name">Issued By:</label> 
<select name="emp_name" id="emp_name">    
    <option value="Dhiraj">Dhiraj</option>
    <option value="Milan">Milan</option>
    <option value="Dharmendra">Dharmendra</option>
</select>
<br>
<label for="emp_name">Prepared By:</label>
<select name="emp_name" id="emp_name">    
    <option value="Dhiraj">Dhiraj</option>
    <option value="Milan">Milan</option>
    <option value="Dharmendra">Dharmendra</option>
</select>

<br>
<label for="emp_name">Checked By:</label>
<select name="emp_name" id="emp_name">    
    <option value="Dhiraj">Dhiraj</option>
    <option value="Milan">Milan</option>
    <option value="Dharmendra">Dharmendra</option>
</select>

<br>
<label for="emp_name">Approved By:</label>
<select name="emp_name" id="emp_name">
    <option value="Dhiraj">Dhiraj</option>
    <option value="Milan">Milan</option>
    <option value="Dharmendra">Dharmendra</option>
</select>
<br>
<button>Save To Firebase</button>
<br> <br> <br>
<h3>Raw Material Details</h3>

<input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1"> Quantity same as std qty</label><br>

<label>Std. Qty.</label>
<input type="text">

<br><br>
<label>A.R. NO:</label>
<input type="text">

<br><br>
<label>A.R. NO 2:</label>
<input type="text">

<br><br>
<label>Req. Qty:</label>
<input type="text">

<br><br>
<label>Issue. Qty:</label>
<input type="text">

<br><br>
<button>Prev</button>
<button>1/4</button>
<button>Next</button>
<br> <br>
<button>Start Button</button> <br>
<button>Generate PDF</button>